
body{
    background-color: #222222;
}
.headerShape{
    z-index:-1; position:relative;
    margin-left:-2%; margin-top:-2%;
    width: 40%; height: auto;
}
.register{
    height:fit-content;
    position: relative;
    padding:1vh 4vh 4vh 8vh;
    top: -45vh; left:1%;
}
.header1{
    display: flex;
    justify-content: flex-start;
    font-family: 'ConBlack';
    gap:2vw;
    font-size:2.5vw;
    font-family: 'FONTSPRING DEMO - Freigeist Con Black', sans-serif;
    line-height:3.5vw;
    color:#F1F1F1;
    padding-top:1.5%; padding-bottom:8%;
}
.header1 img{
    height: 4.5vh;
}
.registerPage{
    display: flex; position:relative;
    margin-left:2vw;
    gap:40%;
}
.voteDone, .wrongOTP{
    justify-content: center;
    align-items: center;
    gap:1vw;
    background-color:#91B6FF;
    color:#1E1E1E;
    font-family: 'FONTSPRING DEMO - Freigeist Con Black', sans-serif;
    height:4vh; width:65vw;
    font-size: 3vh;
    font-weight:850;
}

.registerImages{
    display:flex;
    position:relative;
}
.registerImages img{
    position:absolute;
}
.image1{z-index:2;}
.imageStar{
    z-index:3;
    margin-top:2vw;
    left:5vw;
    width: 20vw;
    height:auto;
}
.image2{
    z-index:1;
}
.image3{
    z-index:0;
}
.fade-in-out{
    opacity:0;
    transition: opacity 2s ease-in-out;
    position: relative;
    width: 30vw;
    height:auto;
}


.registerMain{
    margin-top:-2vw;
    /* margin-left: ; */
    color:#F1F1F1;
}
.formHead{
    display:flex;
    gap:20vw;
}
.heading2{
    font-size:2.08vw;
    font-family: 'FONTSPRING DEMO - Freigeist Con Black', sans-serif;
    text-transform: uppercase;

}
.shareProfile{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
    background-color:#91B6FF;
    color:#1E1E1E;
    font-family: 'FONTSPRING DEMO - Freigeist Con Black', sans-serif;
    height:4vh; width:12vw;
    font-size: 1.5vh;
    font-weight:850;
}
.shareProfile img{
    height:1vw;
}
.participant{
    margin-top:-2vw;
    font-size:4.8vw;
    font-family: 'FONTSPRING DEMO - Freigeist Con Black', sans-serif;
}
.formNote{
    margin-top:-3vw;
    font-size:1.04vw;
    width: 45vw;
    font-family:'Uncut Sans', sans-serif;
}
form{
    font-family:'Uncut Sans', sans-serif;
}
.input input[type=text],input[type=number], input[type=email]{
    width: 100%;
  margin-top: 3.2vh;
  padding-bottom: 0.5vw;
  display: inline-block;
  border: none;
  color: #F1F1F1;
  background-color: #222222;
  outline: none;
}
.enterName, .emailID{
    border-bottom: 0.8px  solid;
    width: 60%;
    color: #F1F1F1;
    font-weight: 400;
}

.phone1{
    display: flex;
    border-bottom: 0.8px  solid #F1F1F1;
    width: 60%;
    font-weight: 400;
}

.option{ 
    margin-top: 3vh;
    display: inline;
    border: none;
    font-family:'Uncut Sans', sans-serif;
}

#dropdown{
    background-color: #222222;
    border: none;
}
button{
    border:none;
    border-radius:10%;
    cursor:pointer;
}


select{
    background-color:#222222;
    color:#737373;
    outline:none;
    border:none;
}
.OTPSend{
    background-color:#91B6FF;
    color:#1E1E1E;
    font-family: 'FONTSPRING DEMO - Freigeist Con Black', sans-serif;
    height:4vh; width:7vw;
    font-size: 2vh;
    font-weight:850;
    margin-bottom: 3vh;
}
.OTPHead{
    font-weight: 600;
}
.OTPCollect {
    display: flex; 
    justify-content: flex-start;
    padding-bottom: 3vw;
}
.inputs{
    display:flex;
    gap: 0.8vw;
}
  
.OTP { 
    width: 2vw; 
    background-color: #222222;
    border: none; 
    border-bottom: 1px solid #737373;
    text-align: center; 
    color:#F1F1F1;
} 
  
.OTP:focus { 
    outline: none; 
} 

.submit{
    background-color:#91B6FF;
    color:#1E1E1E;
    font-family: 'FONTSPRING DEMO - Freigeist Con Black', sans-serif;
    height:4vh; width:12vw;
    font-size: 2vh;
    font-weight:850;
}

@media(max-width: 768px){

    .registerPage{
        left:-4vw;
        gap:52.5%;
    }
    .shareProfile{
        gap:1vw;
        height:3vh;
        font-size: 1vh;
    }


    .submit, .OTPSend{
        font-size: 1.5vh;
    }
}

@media(max-width:600px){
    .registerPage{
        flex-direction: column;
        left:6vw;
    }
    .fade-in-out{
        width: 30vw;
        height:auto;
    }
    .imageStar{
        left:10vw; margin-top:1vw;
        width: 30vw;
        height:auto;
    }
    .registerMain{
        margin-top:55vw;
        position:relative;
        left:2vw;
    }
    .shareProfile{
        height:2vh;
        font-size: 0.7vh;
    }
    .formNote{
        font-size: 0.9vh;
    }
    .enterName, .phone, .emailID{
        width:80%;
    }
    .OTPSend{
        height: 3vh;
        width:12vw;
        margin-bottom: 0vh;
    }

    .submit{
        height:3vh;
        width:20vw;
    }
}
